/* import other css file to this file */
/* for esey to use and relax in coding... */

@import "normalize.css";
@import "grid.css";
@import "fonts.css";
@import "responsive.css";

/*

<==  variables ==>

*/

/* here is my variables and i define it in the head*/

:root {
  --test: #fff;
}

/*
  
<==  Reset Styles ==>
  
*/

/* this is a small code that reset some styles*/

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 10px */
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

body {
  /* font-family: sans-serif; */ /* you can define here your main font*/
  line-height: 1.5;
  font-size: 1.6rem;
}

/*
  
<==  App Styles ==>
  
*/

/* start coding! */
